body {
  font-family: "Arial", sans-serif;
  background-color: #738cbd;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.304);
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #4a90e2;
}

.mode-selection button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  background: #4a90e2;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.mode-selection button:hover {
  background: #357abd;
}

.main-game-board {
  display: flex;
  justify-content: center;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px 0;
}

.cell {
  width: 100px;
  height: 100px;
  background: #e1e8ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.cell:hover {
  transform: scale(1.05);
}

.cell.taken {
  cursor: not-allowed;
}

.game-info {
  margin-top: 20px;
}

#status {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#restart-btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #d9534f;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

#restart-btn:hover {
  background: #c12e2a;
}

.picked-mode {
  border: rgba(0, 0, 0, 0.966) 4px solid;
}
