:root {
  --primary-color: #4caf50;
  --secondary-color: #f44336;
  --accent-color: #ff9800;
  --background-light: linear-gradient(to bottom, #7b9ad6, #e7ebf0);
  --background-dark: linear-gradient(to bottom, #2c3e50, #34495e);
  --input-bg: #ffffff;
  --text-light: #333;
  --text-dark: #f9f9f9;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--background-light);
  background-repeat: no-repeat;
  color: var(--text-light);
  transition: all 0.3s ease;
}

body.dark {
  background: var(--background-dark);
  color: var(--text-dark);
  background-color: #333;
  .container {
    background-color: #3f3d3d;
  }
}

.container {
  background-color: rgb(187, 232, 186);
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.timer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

svg {
  transform: rotate(-90deg);
  width: 200px;
  height: 200px;
}

circle {
  fill: none;
  stroke-width: 10;
  stroke: var(--secondary-color);
  r: 90;
  cx: 100;
  cy: 100;
}

#progress {
  stroke: var(--primary-color);
  stroke-dasharray: 565;
  stroke-dashoffset: 565;
  transition: stroke-dashoffset 1s linear;
}

.time-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

button {
  background: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background: var(--secondary-color);
}

.settings {
  background: var(--input-bg);
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-top: 20px;
  text-align: left;
}

.settings h2 {
  text-align: center;
  font-size: 1.4rem;
  color: var(--text-light);
  margin-bottom: 10px;
}

.settings label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: var(--text-light);
}

.settings input {
  width: 60px;
  padding: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.2s ease;
  text-align: center;
  background: var(--input-bg);
}

.settings input:focus {
  border-color: var(--accent-color);
  outline: none;
}

footer {
  margin-top: 20px;
}
